<h1 class="mt-4">Usuários</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucessoDelecao">
                {{ mensagemSucessoDelecao }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalBusca">
                <i class="fa fa-search"></i> Pesquisar
            </button>
            <button class="btn btn-primary ml-1" (click)="novoCadastro()">
                <i class="fa fa-plus"></i> Novo
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>NOME</th>
                        <th>USUARIO</th>
                        <th>TIPO DE ACESSO</th>
                        <th>DATA DE CADASTRO</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usuariosPaginados">
                        <td>{{ user.nomeCompleto }}</td>
                        <td>{{ user.nomeUsuarioLogin }}</td>
                        <td>{{ user.tipoAcesso }}</td>
                        <td>{{ user.dataDeCadastro }}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/usuarios/form/{{ user.id }}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger ml-1" (click)="preparaDelecao(user)"
                                    data-toggle="modal" data-target="#modalDelecao">
                                <i class="fa fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row col-md-12">
                <div class="col-md-4" style="text-align: left;">
                    <h6>
                        <b>Mostrando 10 de {{ totalElementos }} itens</b>
                    </h6>
                </div>
                <div class="col-md-4" style="text-align: center; margin-top: 0px; margin-bottom: 10px;">
                    <button class="btn btn-primary" (click)="paginaAnterior()" ng-disabled="voltarPagina">
                                <i class="fa fa-angle-left"></i>
                    </button>
                    <button class="btn btn-primary ml-1" (click)="proximaPagina()">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </div>
                <div class="col-md-4" style="text-align: right;">
                    <h6>
                        <b>Página {{ pagina+1 }} de {{ totalPages}}</b>
                    </h6>
                </div>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="usuarioSelecionado">
                    Confirma deleção do usuário?<br>
                    <b>Nome: {{ usuarioSelecionado.nomeCompleto }}, CPF: {{ usuarioSelecionado.nomeUsuarioLogin}}.</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarUsuario()" data-dismiss="modal">Sim</button>
                    <button class="btn btn-danger ml-1" data-dismiss="modal">Não</button>
                </div>                
            </div>
        </div>
    </div>
    <div id="modalBusca" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Pesquisa</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nome completo: *</label>
                            <input type="text" class="form-control" [(ngModel)]="nomeCompleto" name="nomeCompleto"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Usuário: *</label>
                            <input type="text" class="form-control" [(ngModel)]="nomeUsuarioLogin" name="nomeUsuarioLogin"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="buscaPaginada()" data-dismiss="modal">Pesquisar</button>
                    <button class="btn btn-danger ml-1" data-dismiss="modal">Cancelar</button>
                </div>                
            </div>
        </div>
    </div>
</div>